#Location_Favorites{
text-align:center;
background-color:#191919;
width:280px;
height:130px;
color:#ffffff;
font-family:Meltow-Sans-200-Rust;
font-size:14pt;
padding:45px;
margin-top:30px;
margin-left:auto;
margin-right:auto;
margin-bottom:auto;
}

#No_13{
font-size:70pt;
font-family:Raleway;

border:1px;
padding:0px;
border-top:solid;
border-color:#ffffff;
}

#Say_Hello{
display:block;
margin-left:auto;
margin-right:auto;
width:700px;
height:200px;
margin-top:40px;
margin-bottom:-150px;
}

#interested{
color:#7f6b00;
font-size:10pt;
font-family:Helvetica, sans-serif;
text-align:center;
}

#hear_back{
font-size:12pt;
text-align:center;
}

#Get_in_Touch{
font-size:10pt;
text-align:center;
border:2px;
color:#191919;
border-style:solid;
border-color:#191919;
width:250px;
margin-top:30px;
margin-left:auto;
margin-right:auto;
padding:20px;
margin-bottom:80px;
}


.bottom_menu{
background-color:#191919;
}

li{
display:inline-block;
list-style-type:none;
}

#Read_Latest_Articles{
text-decoration:none;
color: #ffffff;
margin-right:250px;

padding:45px;
border-right:solid;
border-color:#666666;
border-width:thin;
}

#Sign_news{
color:#7f6b00;
font-size:10pt;
font-family:Helvetica, sans-serif;
}

#Sign_Up{
color: #ffffff;
font-size:10pt;
font-family:Helvetica, sans-serif;

padding:10px;
border:2px;
border-style:solid;
border-color:#ffffff;
}

#headqrtr{
color:#7f6b00;
font-size:10pt;
font-family:Helvetica, sans-serif;
margin-right:265px;
padding:0px;
}

#office{
color:#7f6b00;
font-size:10pt;
font-family:Helvetica, sans-serif;
padding:0px;
}

#edinburgh{
font-size:10pt;
font-family:Helvetica, sans-serif;
margin-right:295px;
color:#ffffff;
padding:0px;
}

#newyork{
font-size:10pt;
font-family:Helvetica, sans-serif;
margin-right:185px;
color:#ffffff;
padding:0px;
}

#london{
font-size:10pt;
font-family:Helvetica, sans-serif;
margin-right:230px;
color:#ffffff;
padding:0px;
}

#machester{
font-size:10pt;
font-family:Helvetica, sans-serif;
color:#ffffff;
padding:0px;
}

#edinburgh_loc{
font-size:10pt;
font-family:Helvetica, sans-serif;
margin-right:10px;
color:#ffffff;
}

#edinburgh_con{
font-size:10pt;
font-family:Helvetica, sans-serif;
margin-right:60px;
color:#ffffff;
}

#newyork_loc{
font-size:10pt;
font-family:Helvetica, sans-serif;
margin-right:100px;
color:#ffffff;
}

#london_loc{
font-size:10pt;
font-family:Helvetica, sans-serif;
margin-right:190px;
color:#ffffff;
}

#manchester_loc{
font-size:10pt;
font-family:Helvetica, sans-serif;
color:#ffffff;
}

#Contact_Us{
font-size:10pt;
font-family:Helvetica, sans-serif;
margin-right:260px;
color:#ffffff;

padding:10px;
border:2px;
border-style:solid;
border-color:#ffffff;
}

#newyork_con{
font-size:10pt;
font-family:Helvetica, sans-serif;
margin-right:100px;
color:#ffffff;
}

#london_con{
font-size:10pt;
font-family:Helvetica, sans-serif;
margin-right:135px;
color:#ffffff;
}

#manchester_con{
font-size:10pt;
font-family:Helvetica, sans-serif;
color:#ffffff;
}

a:active{
color:#ffffff;
}

a:visited{
color:#ffffff;
}

a:link{
color:#ffffff;
text-decoration:none;
}

#Get_in_Touch_link:link{
color:#191919;
text-decoration:none;
}

#Get_in_Touch_link:active{
color:#191919;
}

#Get_in_Touch_link:visited{
color:#191919;
}







